				<div class="row justify-content-center">
					<div class="col-md-12 text-center py-5">
					<p>
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
						<a href="https://twenymoments.com" target="_blank" >Tweny Moments</a>
					</p>
					</div>
				</div>
			</main>

		</div> <!-- .site- wrap -->

		<script src="js/jquery.min.js"></script>

		<script src="/assets/assets/js/jquery-3.3.1.min.js"></script>
		<script src="/assets/assets/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/assets/assets/js/jquery-ui.js"></script>
		<script src="/assets/assets/js/popper.min.js"></script>
		<script src="/assets/assets/js/bootstrap.min.js"></script>
		<script src="/assets/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/assets/js/jquery.stellar.min.js"></script>
		<script src="/assets/assets/js/jquery.countdown.min.js"></script>
		<script src="/assets/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/assets/js/bootstrap-datepicker.min.js"></script>
		<script src="/assets/assets/js/aos.js"></script>

		<script src="/assets/assets/js/jquery.fancybox.min.js"></script>

		<script src="/assets/assets/js/main.js"></script>

		<script src="/assets/assets/js/plugins.js"></script>

		<script src="/assets/assets/js/slick.min.js"></script>

		<script src="/assets/assets/js/active.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				var url = window.location;
				$('ul.nav a[href="'+ url +'"]').parent().addClass('active');
				$('ul.nav a').filter(function() {
					 return this.href == url;
				}).parent().addClass('active');
			});
		</script>


	</body>
</html>
