<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Tweny Moments &mdash; <%= title %> </title>

		<link rel="icon" href="">
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<link rel="stylesheet" href="/node_modules/@icon/themify-icons/themify-icons.css">

		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
		<link href="http://fonts.cdnfonts.com/css/penna" rel="stylesheet">

		<link rel="stylesheet" href="/style.css">

	</head>

	<body>
		<div class="site-wrap">
			<div class="site-mobile-menu">
				<div class="site-mobile-menu-header">
				  <div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				  </div>
				</div>
				<div class="site-mobile-menu-body"></div>
			</div>

			<header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
				<div class="site-logo">
				  <a href="/"><img src="/images/logo/logo5.png" width="102" height="67"  alt=""></a>
				</div>

				<div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;">
					<a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
				</div>

				<div class="main-menu">
					<ul class="nav navbar-nav js-clone-nav ">
							<li><a href="/portfolio/art">Art</a></li>
							<li><a href="/portfolio/babies">Babies/ kids </a></li>
							<li><a href="/portfolio/beauty">Beauty</a></li>
							<li><a href="/portfolio/family">Family</a></li>
							<li><a href="/portfolio/food">Food/ Drinks </a></li>
							<li><a href="/portfolio/lifestyle">Lifestyle</a></li>
							<li><a href="/portfolio/weddings">Weddings</a></li>
							<li class="mt-4 ">
								<li><a href="/company">Tweny Moments</a></li>
								<li><a href="/partnerwithus">Partnerships</a></li>
								<li><a href="/contactus">Contact Us</a></li>
							</li>
							<li class="mt-4 ">
							<li><a href="/store">Store</a></li>
						</li>
					</ul>
					<ul class="social js-clone-nav">
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="https://www.instagram.com/twenymoments/"><span class="icon-instagram"></span></a></li>
						<li><a href="https://twitter.com/twenymoments"><span class="icon-twitter"></span></a></li>
					</ul>
				</div>
			</header>

			<main class="main-content">
