<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/art9.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/l4.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/art2.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/a2.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/art4.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/art3.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/9.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/art10.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/l5.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/art6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/c.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/a4.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/art7.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/a3.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/aa2.jpg" alt="">
        </div>

      </div>
    </div>

<%- include('_layouts/footer') -%>
