<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/baby6.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/baby1.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/baby4.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/baby5.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/kid2.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/b2.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/baby3.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/kid1.jpg" alt="">
        </div>


        <div class="img img7">
          <img src="/images/img/7.jpg" alt="">
        </div>




      </div>
    </div>

    <%- include('_layouts/footer') -%>
