<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/beauty2.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/art8.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/art10.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/beauty6.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/beauty1.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/beauty5.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/beauty7.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/beauty10.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/beauty11.jpg" alt="">
        </div>
        

      </div>
    </div>

    <%- include('_layouts/footer') -%>
