<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/d.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/family6.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/family3.jpg" alt="">
        </div>

        <div class="img img5">
          <img src="/images/img/baby4.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/family5.jpg" alt="">
        </div>



        <div class="img img7">
          <img src="/images/img/family2.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/family7.jpg" alt="">
        </div>

        


      </div>
    </div>

    <%- include('_layouts/footer') -%>
