<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/food1.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/food2.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/food5.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/food4.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/food7.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/food9.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food10.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food11.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food15.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food16.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food12.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food13.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/5.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/food19.jpg" alt="">
        </div>

      </div>
    </div>

    <%- include('_layouts/footer') -%>
