
<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/lifestyle12.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/lifestyle.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/lifestyle13.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/f.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/lifestyle8.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/lifestyle6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle5.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle2.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle10.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/s2.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle11.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle4.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/l6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/lifestyle9.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/a.jpg" alt="">
        </div>

      </div>
    </div>

    <%- include('_layouts/footer') -%>
