<%- include('_layouts/header') -%>

	<div class="row justify-content-center">
    <div class="col-md-6 pt-4"  data-aos="fade-up">
			<div class="title">
				<h1 class="label1" align="center">Portfolio  </h1>
				<div class="line-shape"></div>
				<br>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="mb-5">
						There are so many ways you can get in touch with us. <br><br>
						We encourage all our <class="fa fa-quote-left" aria-hidden="true">
						Day Ones <class="fa fa-quote-right" aria-hidden="true"> to <em>
						<a href="#"> <b>Sign Up &amp; Subscribe </b></a></em> for all our Newsletters
						and Magazine Collection. <br><br>
						If this is not your preffered mode to stay in touch with us, feel free
						to contact us by calling any of our phone numbers (below).	You could also write to
						us by filling the form (below), and we shall most definitely get back to you.<br><br>
						Be sure to friend, follow, like, retweet us. Just do not quote us.
						<class="fa fa-laugh" aria-hidden="true">
					</p>

				</div>
			</div>
		</div>

		<section class="commentary-area section_padding_100" id="commentary" data-aos="zoom-in">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="title">
						<h1 class="label1" align="center">... commentary</h1>
						<div class="line-shape"></div>

					</div>
					<div class="section-title text-center pb-10">
						<br>
						<p class="text">
							this is what some of you say about us
						</p>

					</div>
				</div>
			</div>

			<div class="container-xl">
				<div class="row">
					<div class="col-sm-12">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Carousel indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for carousel items -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-3.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>
														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>

													<p class="text-justify">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
														<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-2.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>
														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>

													<p class="text-justify">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
														<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-1.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>

														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>

													<p class="text-justify">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
														<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-3.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>
														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>
														<p class="text-justify">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
														<p class="overview"><b>Mary Saveley,</b> Web Designer</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="row">
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-2.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>

														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>

														<p class="text-justify">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>

														<p class="overview"><b>Martin Sommer,</b> C.E.O, Bayimba, Uganda</p>

													</div>

												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="media">
												<img src="images/bg-img/client-1.jpg" alt="">
												<div class="media-body">
													<div class="testimonial">
														<i class="fa fa-quote-left" aria-hidden="true"></i>
														<p class="star-icon text-center">
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
															<i class="ion-ios-star"></i>
														</p>

														<p class="text-justify">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>

														<p class="overview"><b>John Williams,</b> Manager, Sky Lounge</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="partners section_padding_100" id="partners" data-aos="fade-right">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="title">
						<h1 class="label1" align="center">... our partners</h1>
						<div class="line-shape"></div>

					</div>
					<div class="section-title text-center pb-10">
						<br>
						<p class="text">
							this is what some of you say about us
						</p>

					</div>
				</div>
			</div>



			<div class="partners" data-aos-delay="100">
				<div class="container-fluid">

				  <div class="row justify-content-center">
					<div class="col-md-7">
					  <div class="row site-section">
						<div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
						  <img src="images/clients/client-4.png" alt="Image" class="img-fluid w-50  mb-4">
						  <h2 class="font-weight-light mb-4">Jean Smith</h2>
						  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
						  <p>
							<a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
						  </p>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
						  <img src="images/clients/client-1.png" alt="Image" class="img-fluid w-50 mb-4">
						  <h2 class="font-weight-light mb-4">Claire Smith</h2>
						  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
						  <p>
							<a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
						  </p>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
						  <img src="images/clients/client-8.png" alt="Image" class="img-fluid w-50 mb-4">
						  <h2 class="font-weight-light mb-4">John Smith</h2>
						  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?</p>
						  <p>
							<a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
							<a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
						  </p>
						</div>
					  </div>
					</div>

				  </div>
				</div>
			</div>
		</section>




			<section class="clients-area section_padding_100" id="clients" data-aos="zoom-in">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-10">
						<div class="title">
							<h1 class="label1" align="center">... clientel</h1>
							<div class="line-shape"></div>

						</div>
						<div class="section-title text-center pb-10">
							<br>
							<p class="text">
								this is what some of you say about us
							</p>

						</div>
					</div>
				</div>

				<div class="container" >
					<div class="row" >
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="100">
							<a href="#!"><img class="img-fluid d-block" src="images/clients/client-1.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="150">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-7.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="200">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-3.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="250">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-4.png" alt="" /></a>
						</div>
					</div>

					<div class="row" >
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="100">
							<a href="#!"><img class="img-fluid d-block" src="images/clients/client-1.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="150">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-7.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="200">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-3.png" alt="" /></a>
						</div>
						<div class="col-md-3 col-sm-6 my-3" data-aos="zoom-in" data-aos-delay="250">
							<a href="#!"><img class="img-fluid d-block mx-auto" src="images/clients/client-4.png" alt="" /></a>
						</div>
					</div>
				</div>
			</section>

	</div>





<%- include('_layouts/footer') -%>
