<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/1.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/2.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/3.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/4.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/5.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/7.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/a.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/b.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/c.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/d.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/e.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/f.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/g.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/9.jpg" alt="">
        </div>

      </div>
    </div>

    <%- include('_layouts/footer') -%>
