<%- include('_layouts/header') -%>

<section class="profile-intro" id="intro">
	<div class="row " data-aos="zoom-in">
		<div class="col-md-12">
			<div class="title">
				<h1 class="labeli" align="center">TwenyMoments</h1>
			</div>
			<p class="text-justify">
				Tweny Moments, the rising ray from the horizon, is a Ugandan Creative Arts Consultancy, based in Kampala.
				Established in 2018 by three artists, the company has since grown into a <a href="#about"><em>reputable
				and professionally managed brand.</em></a>
				<br><br>

				What started as two photographers and a graphic designer/web developer, combining forces to hone
				and maximize their craft, is now a <a href="#team"><em>corporate team of professional personnel</em></a>
				who provide top notch high end, visual artistic services, one of the most distinguished on the market.
				<br><br>

				With a stroke of creativity, in its purest form of unicity, an elegant style has become the hallmark
				of our work. Boasting of a <a href="#services"><em>services</em></a> catalogue ranging from photography,
				cinematography, advertising campaigns, or even corporate brandings, we’re known to have an edge in whatever
				 we do.
				<br><br>

				Endowed with great <a href="/partnerwithus"><em>partnerships,</em></a> we are proud to have worked with
				some of the biggest names in this game. This is testament to how cream has and is rising to the top. As the saying
				Iron sharpens, Iron, we are constantly learning and perfecting the art of our craft, so we can proudly keep undoing
				 ourselves.
				<br><br>
			</p>
		</div>

	</div>
</section>


	<section class="company-area" id="about">
		<div class="row justify-content-center" data-aos="fade-down">
			<div class="col-lg-6 col-md-10">
				<div class="title">
					<h1 class="label1" align="center">... the Company</h1>
					<div class="line-shape"></div>

				</div>

			</div>
		</div>

		<div id="resume" data-aos="fade-right">
			<div class="section-wrapper block">
				<div class="content-1300">
					<div class="row">
						<div class="one-half width-55">


							<ul class="timeline-holder">
								<li class="timeline-event">
									<span class="timeline-circle"></span>
									<div class="timeline-event-content ">
										<b>Our Vision is to &mdash; </b>
                    Have a Legacy Signature in Creative Arts.
									</div>
									<div class="timeline-event-date">Vision</div>
								</li>

								<li class="timeline-event">
									<span class="timeline-circle"></span>
									<div class="timeline-event-content">
										<b>Our Mission is &mdash; </b>
						        Through Excellence, Value and Appreciate the Arts!
									</div>
									<div class="timeline-event-date">Mission</div>
								</li>

								<li class="timeline-event">
									<span class="timeline-circle"></span>
									<div class="timeline-event-content">
										<b>We stand for the following Core Values ... </b>

											<ul>
												<li><i class="fa fa-angle-right"></i> Consistency</li>
												<li><i class="fa fa-angle-right"></i> Humility</li>
												<li><i class="fa fa-angle-right"></i> Originality &amp; Artistic Creativity</li>
												<li><i class="fa fa-angle-right"></i> Personality &amp; Friendship</li>
												<li><i class="fa fa-angle-right"></i> Professionalism</li>
											</ul>

									</div>
									<div class="timeline-event-date">Values</div>
								</li>

								<li class="timeline-event">
									<span class="timeline-circle"></span>
									<div class="timeline-event-content">
									<b>In a Nutshell,</b>
										<p class="text-justify">
										... in this
										business to leave a permanent mark on it; and while we are at that, we
										promise to be Consistent, Humble, Original &amp; Artistically Creative,
										we'll also have a Personal &amp; Friendly touch to this, and yet not compromise
										on top notch Professionalism. So help us God, and in Him we trust!


									</p>
									</div>
									<div class="timeline-event-date">We are </div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="features-area " id="services">
		<div class="row justify-content-center" data-aos="fade-down">
			<div class="col-lg-6 col-md-10">
				<div class="title">
					<h1 class="label1" align="center">... our Services</h1>
					<div class="line-shape"></div>
				</div>

				<div class="section-title text-center pb-10">
					<br>
					<p class="text">
					Not limited to these ( listed below ), even though our niche mostly revolves around them,
					this, is a listing of our Services.
					</p>

				</div> <!-- row -->
			</div>
		</div> <!-- row -->
		<div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 col-sm-9" data-aos="fade-right">
          <div class="single-features mt-40">
              <div class="features-title-icon d-flex justify-content-between">
                  <h2 class="features-title">Photography</h2>
                  <div class="features-icon">
                      <i class="lni lni-camera"></i>
                      <img class="shape" src="images/f-shape-1.svg" alt="Shape">
                  </div>
              </div>
              <div class="features-content">
    						<p class="text-justify">
    							It goes without mention how much we love photography at Tweny Moments.
									Travel Photography, Party Photography, Family Photography, Wedding
									Photography, Bridal and Baby Showers, etcetera. Your social
									engagements, we can photograph. <br>
									Recently however, ontop of Social Photography, we are have ventured
									into Corporate Commercial Campaigns.
    						</p>
              </div>
          </div> <!-- single features -->
        </div>
        <div class="col-lg-6 col-md-7 col-sm-9" data-aos="fade-left">
          <div class="single-features mt-40">
            <div class="features-title-icon d-flex justify-content-between">
                <h2 class="features-title">Cinematography</h2>
                <div class="features-icon">
                    <i class="lni lni-code-alt"></i>
                    <img class="shape" src="images/f-shape-1.svg" alt="Shape">
                </div>
            </div>
            <div class="features-content">
  						<p class="text-justify">
  							Is it a Memory Lane? a Wedding (Customary or Traditional)?
  							a Documentary, a Short Film, or a Music Video? Our team of cinematographers,
								screenplay artistes, directors and producers, should be able to guide the creation
								and hand delivery of	your concept, into an artefact.

  						</p>
            </div>
          </div> <!-- single features -->
        </div>
      </div> <!-- row -->

  		<div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 col-sm-9" data-aos="fade-right">
            <div class="single-features mt-40">
                <div class="features-title-icon d-flex justify-content-between">
                    <h2 class="features-title">Corporate Branding</h2>
                    <div class="features-icon">
                        <i class="lni lni-brush"></i>
                        <img class="shape" src="images/f-shape-1.svg" alt="Shape">
                    </div>
                </div>
                <div class="features-content">
      						<p class="text-justify">
      							What is the face value of your company?? It is generally accepted that Brands
      							speak volumes. Before a company can walk the talk, they ought to influence
      							talk about them. This is where we come in. Tweny Moments will give
      							you the professional look your company needs, to have a sharp distinction on the
      							market. You will definitely have the tall order of living upto your brand!
      						</p>
                </div>
            </div> <!-- single features -->
        </div>
        <div class="col-lg-6 col-md-7 col-sm-9" data-aos="fade-left">
            <div class="single-features mt-40">
                <div class="features-title-icon d-flex justify-content-between">
                    <h2 class="features-title">Digital Marketing</h2>
                    <div class="features-icon">
                        <i class="lni lni-bolt"></i>
                        <img class="shape" src="images/f-shape-1.svg" alt="Shape">
                    </div>
                </div>
                <div class="features-content">
      						<p class="text-justify">
      							Are you looking to create content for digital marketing? Is this content picture
										or video, or even voice-over speech? <br>
										Or do you need someone to manage your digital content in a customised unique and
										professional way? <br>
										If these are your thoughts, we have accurate answers for you.
      						</p>
                </div>
            </div> <!-- single features -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </section>

	<section class="team-area " id="team">
		<div class="row justify-content-center" data-aos="zoom-in">
      <div class="col-lg-6 col-md-10">
  			<div class="title">
  				<h1 class="label1" align="center">... the Team</h1>
  				<div class="line-shape"></div>
  			</div>
        <div class="section-title text-center pb-10">
  				<br>
          <p class="text">
    				Every meal has a recipe, every recipe is put together by a cook. More than often, the
    				cook is responsible for the quality of the meal.<br>

    				... meet the spokes that make our wheels spin.

  				</p>
  			</div> <!-- row -->
      </div>
    </div> <!-- row -->
    <div class="container team-zone">
      <div class="row ">
          <div class="col-lg-4" data-aos="fade-right">
              <div class="team-member">
                  <img class="rounded-circle" src="images/team/4.jpg" alt="" />
                  <h4>Benjamin, Tweny</h4><nickname> twenyB </nickname>
                  <p class="text-muted">Creative &amp; Executive Director</p>
                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
        					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
        					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
        					</i></a>
              </div>
          </div>
          <div class="col-lg-4" data-aos="fade-down">
            <div class="team-member">
                <img class="rounded-circle" src="images/team/3.jpg" alt="" />
                <h4>Daudi, Murungi</h4><nickname> M'ungi </nickname>
                <p class="text-muted">Director of (Studio) Photography</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
      					</i></a>
            </div>
          </div>
					<div class="col-lg-4" data-aos="fade-left">
	            <div class="team-member">
	                <img class="rounded-circle" src="images/team/5.jpg" alt="" />
									<h4>Ismail, Hassan</h4><nickname> IsmaH </nickname>
	                <p class="text-muted">Manager</p>
	                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
	      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
	      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
	      					</i></a>
	            </div>
	        </div>
      </div>
  		<div class="row ">
        <div class="col-lg-4" data-aos="fade-right">
            <div class="team-member">
                <img class="rounded-circle" src="images/team/8.jpg" alt="" />
								<h4>John Peter, Ochwo</h4><nickname> Jonie </nickname>
                <p class="text-muted">Graphics Designer</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
      					</i></a>
            </div>
        </div>
        <div class="col-lg-4" data-aos="fade-down">
            <div class="team-member">
                <img class="rounded-circle" src="images/team/2.jpg" alt="" />
								<h4>Joshua, Mwesigwa</h4><nickname> Josh </nickname>
                <p class="text-muted">Cinematographer &amp; Video Editor</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
      					</i></a>
            </div>
        </div>
				<div class="col-lg-4" data-aos="fade-left">
            <div class="team-member">
                <img class="rounded-circle" src="images/team/6.jpg" alt="" />
                <h4>Samuel, Acila</h4><nickname> sammyA </nickname>
                <p class="text-muted">Script, Producer &amp; C.T.O</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
      					</i></a>
            </div>
        </div>
      </div>
			<div class="row ">
        <div class="col-lg-4" data-aos="fade-down">

        </div>
				<div class="col-lg-4" data-aos="fade-down">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="images/team/1.jpg" alt="" />
                <h4>Vicky Faith, Atim</h4><nickname> Soleil </nickname>
                <p class="text-muted">C.O.O &amp; Secretary of Administration</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-twitter"></i>
      					</a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram">
      					</i></a><a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin">
      					</i></a>
            </div>
        </div>
				<div class="col-lg-4" data-aos="fade-down">

        </div>
      </div>

			</br>
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
						<p class="large text-muted">
							That's about it from us. Feel free to <em><b> <a href="/contactus">Contact Us, </a></b></em>
							or follow us on our social media platforms to keep abrace with what's going on here ... looking
							forward to sharing with you!

					</p>
				</div>
      </div>
    </div>
	</section>

<%- include('_layouts/footer') -%>
