<%- include('_layouts/header') -%>

    <div class="wrapper">
      <div class="gallery">
        <div class="img img1">
          <img src="/images/img/weddings9.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="/images/img/weddings1.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="/images/img/weddings3.jpg" alt="">
        </div>
        <div class="img img4">
          <img src="/images/img/weddings2.jpg" alt="">
        </div>
        <div class="img img5">
          <img src="/images/img/weddings13.jpg" alt="">
        </div>
        <div class="img img6">
          <img src="/images/img/weddings10.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings14.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings16.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/nnn.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings12.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings4.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings15.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings6.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings11.jpg" alt="">
        </div>
        <div class="img img7">
          <img src="/images/img/weddings7.jpg" alt="">
        </div>

      </div>
    </div>

    <%- include('_layouts/footer') -%>
